---
import { Button } from "@/components/ui/button";
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";

if (Astro.locals.user) {
  return Astro.redirect("/");
}
---

<Layout title="Login">
  <Card className="w-full max-w-sm mx-auto my-10">
    <CardHeader>
      <CardTitle className="text-2xl">Login</CardTitle>
      <!-- <CardDescription>
        Enter your email below to login to your account.
      </CardDescription> -->
    </CardHeader>
    <CardFooter>
      <Button variant="discord" className="w-full">Sign in with discord</Button>
    </CardFooter>
  </Card>
</Layout>
