---
import UserPageLayout from "@/layouts/UserPageLayout.astro";
import { UserCard } from "@/pages/user/user-card";
import { User, db, eq } from "astro:db";

const { id } = Astro.params;

const [user] = await db
  .select()
  .from(User)
  .where(eq(User.username, id!))
  .limit(1);

if (!user) {
  // TODO: redirect to a user doesn't exist page
  console.log({ user });
}
---

<UserPageLayout title={id || "user doesn't exist"}>
  {
    user ? (
      <div class="flex-1 flex justify-center items-center bg-[--primary-800] px-2">
        <UserCard user={user} className=" max-w-[600px] rounded-md" />
      </div>
    ) : (
      <div>User doesn't exist</div>
    )
  }
</UserPageLayout>
